<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.phoenix.api.dao.ParameterMapper">
    <resultMap id="BaseResultMap" type="com.cn.phoenix.api.pojo.Parameter">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="case_id" jdbcType="INTEGER" property="caseId"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="json_str" jdbcType="VARCHAR" property="jsonStr"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,case_id, `key`, `value`, json_str, info, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from parameter
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from parameter
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.cn.phoenix.api.pojo.Parameter">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into parameter (case_id,`key`, `value`, json_str,info
        )
        values (#{caseId},#{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, #{jsonStr,jdbcType=VARCHAR},
        #{info,jdbcType=VARCHAR}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.cn.phoenix.api.pojo.Parameter">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into parameter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="key != null">
                `key`,
            </if>
            <if test="value != null">
                `value`,
            </if>
            <if test="jsonStr != null">
                json_str,
            </if>
            <if test="info != null">
                info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="key != null">
                #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                #{value,jdbcType=VARCHAR},
            </if>
            <if test="jsonStr != null">
                #{jsonStr,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                #{info,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.cn.phoenix.api.pojo.Parameter">
        update parameter
        <set>
            <if test="caseId != null">
                case_id = #{caseId,jdbcType=VARCHAR},
            </if>
            <if test="key != null">
                `key` = #{key,jdbcType=VARCHAR},
            </if>
            <if test="value != null">
                `value` = #{value,jdbcType=VARCHAR},
            </if>
            <if test="jsonStr != null">
                json_str = #{jsonStr,jdbcType=VARCHAR},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cn.phoenix.api.pojo.Parameter">
    update parameter
    set `key` = #{key,jdbcType=VARCHAR},
      `value` = #{value,jdbcType=VARCHAR},
      json_str = #{jsonStr,jdbcType=VARCHAR},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="findAll" resultType="com.cn.phoenix.api.pojo.Parameter">
        select
        <include refid="Base_Column_List"/>
        from parameter
    </select>
    <insert id="batchInsertSelective" parameterType="com.cn.phoenix.api.pojo.Parameter">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into parameter (`key`,`value`,json_str,info,case_id) values
        <foreach collection="list" item="parameterInfo" index="index" separator=",">
            (#{parameterInfo.key},#{parameterInfo.value},#{parameterInfo.jsonStr},#{parameterInfo.info},#{parameterInfo.caseId})
        </foreach>
    </insert>
    <update id="batchUpdate" parameterType="com.cn.phoenix.api.pojo.Parameter">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        update parameter
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="`key` = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.key != null">
                        when id=#{i.id} then #{i.key}
                    </if>
                </foreach>
            </trim>
            <trim prefix="`value` = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.value != null">
                        when id=#{i.id} then #{i.value}
                    </if>
                </foreach>
            </trim>
            <trim prefix="json_str =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.jsonStr != null">
                        when id=#{i.id} then #{i.jsonStr}
                    </if>
                </foreach>
            </trim>
            <trim prefix="info = case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.info != null">
                        when id=#{i.id} then #{i.info}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" item="idItem" index="index" open="" close="" separator="or">
            id = #{idItem.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <delete id="batchDelete" parameterType="com.cn.phoenix.api.pojo.Parameter">
        delete from parameter where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <select id="findParameterByCaseId" resultType="com.cn.phoenix.api.pojo.Parameter">
        select
        <include refid="Base_Column_List"/>
        from parameter
        where case_id = #{caseId}
    </select>
</mapper>