<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.phoenix.api.dao.VariableMapper">
    <resultMap id="BaseResultMap" type="com.cn.phoenix.api.pojo.Variable">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="is_system" jdbcType="INTEGER" property="isSystem"/>
        <result column="case_id" jdbcType="INTEGER" property="caseId"/>
        <result column="case_name" jdbcType="VARCHAR" property="caseName"/>
        <result column="host_id" jdbcType="INTEGER" property="hostId"/>
        <result column="host_name" jdbcType="VARCHAR" property="hostName"/>
        <result column="key" jdbcType="VARCHAR" property="key"/>
        <result column="value" jdbcType="VARCHAR" property="value"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="info" jdbcType="VARCHAR" property="info"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id,is_system, case_id, host_id, `key`, `value`, status, info, create_time, update_time
  </sql>

    <insert id="batchInsert" parameterType="com.cn.phoenix.api.pojo.Variable">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into variable (case_id,key,value,status,info) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.caseId,jdbcType=INTEGER},#{item.key,jdbcType=VARCHAR},
            #{item.value,jdbcType=VARCHAR},#{item.status,jdbcType=INTEGER},#{item.info,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <update id="batchUpdate" parameterType="com.cn.phoenix.api.pojo.Variable">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        update variable
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="key =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.key!=null">
                        when id=#{i.id} then #{i.key}
                    </if>
                </foreach>
            </trim>
            <trim prefix="value =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.value!=null">
                        when id=#{i.id} then #{i.value}
                    </if>
                </foreach>
            </trim>
            <trim prefix="status =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.status !=null">
                        when id=#{i.id} then #{i.status}
                    </if>
                </foreach>
            </trim>
            <trim prefix="info =case" suffix="end,">
                <foreach collection="list" item="i" index="index">
                    <if test="i.info!=null">
                        when id=#{i.id} then #{i.info}
                    </if>
                </foreach>
            </trim>
        </trim>
        where
        <foreach collection="list" item="idItem" index="index" open="" close="" separator="or">
            id = #{idItem.id,jdbcType=INTEGER}
        </foreach>
    </update>
    <delete id="batchDelete" parameterType="com.cn.phoenix.api.pojo.Variable">
        delete from variable where id in
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.id}
        </foreach>
    </delete>
    <select id="selectOnlyKey" resultType="com.cn.phoenix.api.pojo.Variable">
        select
        <include refid="Base_Column_List"/>
        from variable
        where `key` = #{key}
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    <select id="selectOnlyKeyByHostId" resultType="com.cn.phoenix.api.pojo.Variable">
        select
        <include refid="Base_Column_List"/>
        from variable
        where `key` = #{key}
        and (host_id is null or host_id = #{hostId})
        <if test="id != null">
            and id != #{id}
        </if>
    </select>
    <select id="select" resultType="com.cn.phoenix.api.pojo.Variable">
        select
        v.id, v.is_system, v.case_id, v.`key`, v.`value`, v.status, v.info, v.create_time, v.update_time,
        c.name case_name, v.host_id, h.run_name host_name
        from variable v
        left join cases c on v.case_id = c.id
        left join host h on v.host_id = h.id
        order by v.id
    </select>
    <insert id="oneInsert" parameterType="com.cn.phoenix.api.pojo.Variable">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into variable (case_id,`key`,`value`,status,info,host_id)
        values
        (#{caseId,jdbcType=INTEGER},#{key,jdbcType=VARCHAR},#{value,jdbcType=VARCHAR},
        #{status,jdbcType=INTEGER},#{info,jdbcType=VARCHAR},#{hostId,jdbcType=INTEGER})
    </insert>
    <update id="oneUpdate" parameterType="com.cn.phoenix.api.pojo.Variable">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        update variable set
        `key` = #{key,jdbcType=VARCHAR},
        `value` = #{value,jdbcType=VARCHAR},
        status =#{status,jdbcType=INTEGER},
        info = #{info,jdbcType=VARCHAR},
        case_id = #{caseId},
        host_id = #{hostId}
        where id = #{id}
    </update>
    <delete id="oneDelete" parameterType="com.cn.phoenix.api.pojo.Variable">
        delete from variable where id = #{id}
    </delete>
    <select id="selectNoCaseId" resultType="com.cn.phoenix.api.pojo.Variable">
        select
        <include refid="Base_Column_List"/>
        from variable
        where case_id is null
        and (is_system != 1 or is_system is NULL)
        <if test="hostId != null">
            and (host_id is null or host_id = #{hostId})
        </if>
    </select>
    <select id="selectHaveCaseId" resultType="com.cn.phoenix.api.pojo.Variable">
        select
        <include refid="Base_Column_List"/>
        from variable
        where case_id is not null
        and (is_system != 1 or is_system is NULL)
        <if test="hostId != null">
            and (host_id is null or host_id = #{hostId})
        </if>
    </select>
</mapper>